import random
import logging

logging.basicConfig(filename='ugadai.log', level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
def ugadivanie(N, k):
    number = random.randint(1, N)
    logging.info(f'Сгенерировано загаданное число: {number}')
popitki = 0
    while popitki < k:
        try:
            vvod = int(input(f'Введите число от 1 до {N}: '))
            logging.info(f'Пользователь ввел число: {vvod}')
        except ValueError:
            print('Ошибка! Введите целое число.')
            logging.error('Ошибка ввода: введено нецелое число')
            continue
        if vvod == number:
            print('Вы угадали!')
            logging.info('-Число отгадано пользователем!-')
            return
        elif vvod < number:
            print('Загаданное число больше')
            logging.info('-Загаданное число больше, чем число, введённое пользователем-')
        else:
            print('Загаданное число меньше')
            logging.info('-Загаданное число меньше, чем число, введённое пользователем-')

        popitki += 1

    print('Попыток больше нет, пользователь не угадал число. Загаданное число:', number)
    logging.info(f'-Пользователь не смог угадать число. Загаданное число-: {number}')
try:
    N = int(input('Введите максимум для загадываемого числа: '))
    k = int(input('Введите число попыток: '))
    logging.info(f'Введены данные: Максимум (N) ={N}, Число попыток (k)={k}')
except ValueError:
    print('Ошибка! Введите целые числа.')
    logging.error('-Ошибка ввода: введены нецелые числа-')

ugadivanie(N, k)

